/* Author: Brian Sim
 * ID: 4316878
 * */

/* General fonts */
* {font-family: 'Ubuntu', sans-serif;}

p, h2 {color: #000;}

/* Links */
a:visited,a:active{
    text-decoration: none;
    color: #781351;
}

/* Remove body margin */
body{
	margin: 0 auto; 
    width: 100%;
	height:100%;
    position: relative; 
}

/* Body size */
.bcg {
	height: 100%;
	width: 100%;
}

.pictures{
	margin: 10px;
    float: left;
}

.picturesB{
	display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
}

#imgNext {
    color: #661a9c;
}

#imgPrev {
    color: #661a9c;
}

#header{
    display: none;
}

#menu {
    display: none;
}

#content h2 {font-size: 20px;}

#content p, a {
    font-size: 18px;
    color: #000;
}

#content li {
    color: #000;
	list-style-type:none;
}

.hsContainer {
	width: 100%; 
	margin: 0; 
	float: none;
}

.hsContent h2,p{
	color: #000;
}

.hsContent li {
	list-style-type: none;
}
#contactTable table {
    width: 100%;
}

#contactTable table,tr,td {  
    border: 5px solid #000;
}

.lsContainer{
    width: 100%; 
	margin: 0; 
	float: none;
}

.lsContent  {
	width: 100%; 
	margin: 0; 
	float: none;
}

.lsContent li{
     color: #781351; 
}

.rsContainer{
    width: 100%; 
	margin: 0; 
	float: none;
}

.inContainer{
    width: 100%; 
	margin: 0; 
	float: none;
}

.rsContent {
	width: 100%; 
	margin: 0; 
	float: none;
}

.rsContent ul{
	list-style-type: none;
}

.rsContent li{
    color: #000;   
}

.inContent{
	width: 100%; 
	margin: 0; 
	float: none;
}

/*Gallery List*/
.mini-gallery {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
}

.mini-gallery li {
    width: 300px;
    height: 300px;
    display: inline;
}

.mini-gallery-item {
    width: 20%;
    height: 20%;
}

.gContainer {
	overflow: hidden;
	position: relative;
	height:500px;
}

.gContent {
	height:50px;
    width: 100%;
	position: relative;
}

.gContent p {
	height:20px;
	display:inline;
	padding: 5px 100px;
}

#footer{
    display: none;
}

.button-link{
    display: none;   
    
}

.background {
	max-height: 100%;
	margin: 0 auto; 
    width: 100%; 
    position: relative;
}

#toTop {
    display: none;
}
