/*Author: Timothy Kiyui*/
/*ID: 4316886*/

/*General CSS*/
* {
    font-family: 'Ubuntu', sans-serif;
    color: #f8f8f8;
}

a:link{
    text-decoration: none;
    background-color: inherit;
    color: #feaa00;
}

a:visited{
    text-decoration: none;
    background-color: inherit;
    color: #feaa00;
}

a:active{
    text-decoration: none;
}

a:hover{
    color: #990066;
    background-color: inherit;
}

body{
	margin: 0;
	padding: 0;
	color: #f8f8f8;
	background-color: #5c416e;
}

/*Parallex scrolling section*/

.background {
	/*height: 100vh;*/
	margin: 0 auto; 
    width: 100%; 
    position: relative;
}

/*Page specific*/

/*about.html*/
#about_1 { 
	background: url(../images/019.jpg) no-repeat center center fixed;
}

#about_2 { 
	background: url(../images/024.jpg) no-repeat center center fixed;
}

/*activities.html*/
#activities_1 { 
	background: url(../images/001.jpg) no-repeat center center fixed;
}

#activities_2 { 
	background: url(../images/014.jpg) no-repeat center center fixed;
}

#activities_3 { 
	background: url(../images/002.jpg) no-repeat center center fixed;
}

/*map.html*/
#map_1 { 
	background: url(../images/031.jpg) no-repeat center center fixed;
}

/*site_map.html*/
#list_1 {
    background: url(../images/027.jpg) no-repeat center center fixed;
}

/*contact.html*/
#contact_1 { 
	background: url(../images/025.jpg) no-repeat center center fixed;
}

#contactTable table {
    background-color: #000;
    width: 100%;
    border-color: #fff;
}

#contactTable table,tr,td {
    border-collapse: collapse;    
    border: 1px solid #fff;
    text-align: center;
}

/*feedback.html*/
#feedback_1 { 
	background: url(../images/013.jpg) no-repeat center center fixed;
}

#btnReset {
    width: 100%;
    color: #f8f8f8;
    background-color: #000;
}

#form {
    background: url(../images/opacity.png);
}

#form * {
    color: #fff;
    background-color: #000;
}

/*about_our_group.html*/
#profile_1{ 
	background: url(../images/006.jpg) no-repeat center center fixed;
}

#profile_2{ 
	background: url(../images/005.jpg) no-repeat center center fixed;
}

#profile_3{ 
	background: url(../images/004.jpg) no-repeat center center fixed;
}

.pictures{
	margin: 10px;
    float: left;
    text-align: center;
}

.picturesB{
	display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
}

/*photographs.html*/
#photo_1 { 
	background: url(../images/003.jpg) no-repeat center center fixed;
}

/*states.html*/
.states_1 {
	background: url(../images/007.jpg) no-repeat center center fixed;
}

.states_2 {
	background: url(../images/012.jpg) no-repeat center center fixed;
}

/*gallery.html*/
#gallery_1 { 
	background: url(../images/033.jpg) no-repeat center center fixed;
}

#gallery_2 { 
	background: url(../images/001.jpg) no-repeat center center fixed;
}

#imgNext {
    background-color: inherit;
    color: #661a9c;
}

#imgPrev {
    background-color: inherit;
    color: #661a9c;
}


#imgNext:hover {
    background-color: inherit;
    color: #aaff00;
}

#imgPrev:hover {
    background-color: inherit;
    color: #aaff00;
}

/*home.html*/
#home_1 { 
	background: url(../images/022.jpg) no-repeat center center fixed;
}

#home_2 { 
	background: url(../images/021.jpg) no-repeat center center fixed;
}

#gallery-link:hover {
    background-color: inherit;
    color: #aafe00;
}

/*Containers*/
.bcg {
	background: url(../images/fuzzy.png) no-repeat center center fixed;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

/*HS - Full page descriptions*/
.hsContainer {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: auto;
}

.hsContent {
    width: 90%;
	max-width: 90%;
	position: absolute;
	left: 5%;
	top: 5%;
}

.hsContent h2  {
	background: url(../images/opacity.png);
	background-repeat: repeat;
	padding: 15px 20px;
	line-height: 38px;
	margin-bottom: 12px;
}

.hsContent p {
	padding: 15px 20px;
	background: url(../images/opacity.png);
	background-repeat: repeat;
}


/*IN - Small descriptions*/
.inContainer {
	width: 100%;
	height: 100%;
	position: relative;
    overflow: auto;
}

.inContent {
	max-width: 50%;
	position: absolute;
	left: 0%;
	bottom: 0%;
	background: url(../images/opacity.png);
	background-repeat: repeat;
	text-align: center;
}

.inContent h2  {
	padding: 15px 20px;
	line-height: 38px;
	margin-bottom: 12px;
}

.inContent p {
	padding: 15px 20px;
}

/*IN - Small descriptions*/
.gContainer {
	height: 100%;
	position: relative;
	text-align: center;
	overflow: auto;
}

.gContent {
    width: 100%;
	max-width: 100%;
	position: absolute;
	left: 0%;
	bottom: 0%;
	background: url(../images/opacity.png);
	background-repeat: repeat;
}

.gContent p {
	padding: 5px 5px;
}

/*Left side*/
.lsContainer {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: auto;
}

.lsContent {
    width: 40%;
	max-width: 40%;
	min-height: 100%;
	position: absolute;
	left: 0%;
	top: 0%;
	background: url(../images/opacity.png);
	background-repeat: repeat;
}

.lsContent h2  {
	padding: 15px 20px;
	line-height: 38px;
}

.lsContent p {
	padding: 15px 20px;
}

/*Right side*/
.rsContainer {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: auto;
}

.rsContent {
    width: 60%;
	max-width: 60%;
	min-height: 100%;
	position: absolute;
	right: 0%;
	top: 0%;
	background: url(../images/opacity.png);
	background-repeat: repeat;
}

.rsContent h2  {
	padding: 15px 20px;
	line-height: 38px;
}

.rsContent p {
	padding: 15px 20px;
}

/*Gallery List*/
.mini-gallery {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
}

.mini-gallery li {
    width: 300px;
    height: 300px;
    display: inline;
}

.mini-gallery-item {
    width: 20%;
    height: 20%;
}

/*Page Contents*/
#header {
    background-color: #000;
    color: #f8f8f8;
}

#menu_button {
    position: absolute;
    display: inline-block;
    right: 0px;
    padding: 15px;
    z-index: 1000;
}

#menu_button * {
    display: inline-block;
}

#menu {
    position: fixed;
    width: 40%;
    height: 60%;
    left: 30%;
    top: 20%;   
    background: url(../images/opacity.png);
	background-repeat: repeat;
	overflow: auto;
    visibility: hidden;
    z-index: 1000;
    margin: 0;
}

#menu_X {
    position: absolute;
    top: 10px;
    right: 15px;
}

#heading {
    width: 40%;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    background-color: inherit;
    color: #fff;
}

#content {
    /*background-color: #5c416e;*/
    color: #f8f8f8;
}

#content h2 {font-size: 20px;}

#content p, a {
    font-size: 18px;
    background-color: inherit;
    color: #f8f8f8;
}

#content li {
    background-color: inherit;
    color: #fefefe;
    list-style-type: square;
}

#footer {
    background-color: #000;
    color: #fff;
    width: 100%;
    text-align: center;
}

#toTop {
    position: fixed;
    bottom: 15px;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
    z-index: 1000;
}